<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MeDicHome.Properties.Settings.qlynvConnectionString"
            connectionString="Data Source=XHUNG\SQLEXPRESS;Initial Catalog=qlynv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MeDicHome.Properties.Settings.qlyspConnectionString"
            connectionString="Data Source=XHUNG\SQLEXPRESS;Initial Catalog=qlysp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MeDicHome.Properties.Settings.sqlallConnectionString"
            connectionString="Data Source=XHUNG\SQLEXPRESS;Initial Catalog=sqlall;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>